body {
  /* background-color: bisque; */
  /* background-color: rgb(167, 181, 16); */
  /* background-color: rgba(167, 181, 16, 0.5); */
  background-color: #a7b510;
}

li {
  text-align: center;
  list-style-position: inside;
}

.container {
  background-color: papayawhip;
  border: 1px solid gray;
}

.paragraph-container {
  background-color: rosybrown;
}

#mate-item {
  text-decoration: line-through;
}
